#th_style_1 {
    background-color: orange;
    border: solid black 1px;
    text-align: left;
}
#th_style_2 {
    background-color: blue;
    color: yellow;
    border: solid black 1px;
    text-align: left;
}
#th_style_3 {
    border: solid black 1px;
    text-align: left;
}
#th_style_3i {
    border: solid black 1px;
    text-align: center;
}
#divs {
    width: 896px;
}
#tbs {
    border: 1px solid black;
    border-spacing: 2px;
    width: 100%;
}
a:hover {
    color: red;
    font-size: 110%;
}